@charset "ISO-8859-1";

    *{
        background-color: blanchedalmond;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    h1{
       font-style: oblique;
       font-size: 70px;
       text-align: center;
       background-color: cornflowerblue;
    }